[Unit]
Description=Cloudflare Tunnel (LLM)
After=network-online.target lm-studio.service
Wants=network-online.target lm-studio.service

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate run --token $(cat ~/.cloudflared/TUNNEL_ID)
Restart=always
RestartSec=5
Environment=CF_TUNNEL_TOKEN=$(cat ~/.cloudflared/TUNNEL_ID)

[Install]
WantedBy=default.target
